name: Linters
on: [push, pull_request]
permissions:
  contents: read
jobs:
  golangci-lint:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'
          check-latest: true
        id: go
      - name: Disable cgo
        run: |
          echo "CGO_ENABLED=0" >> $GITHUB_ENV
      - name: Check out code
        uses: actions/checkout@v5
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6.1
          args: -c .golangci.yml -v

  markdown-lint:
    name: markdown-lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v5

    - name: Markdown files linting
      uses: avto-dev/markdown-lint@v1
      with:
        args: '.'
